<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<form class="bg-teal-50" th:action="@{/loginpage/login}" th:object="${String}" method="POST">
    <p class="font-bold text-4xl text-center pt-10">LOGIN</p>
    <div class="min-h-screen bg-teal-50 flex justify-center p-12">
        <div class="bg-teal-200 justify-center rounded-lg pb-10 px-10 shadow-md py-3 mb-96">
            <div class="mt-10">
                <label class="ml-2 flex font-bold" for="username">Username : </label>
                <input class="font-bold ml-2 my-4 rounded-lg" type="text" id="username" name="username" /><br>
            </div>

            <div>
                <label class="ml-2 flex font-bold" for="password">Password : </label>
                <input class="font-bold ml-2 my-4 rounded-lg" type="password" id="password" name="password" /><br>
            </div>

            <div class="ml-10 my-5">
                <button class="container font-bold text-white bg-teal-700 -m-8 py-2 max-w-fit px-5 rounded-xl" type="submit">login</button>
                <button class="container font-bold text-white bg-teal-700 ml-14 py-2 max-w-fit px-5 rounded-xl" formaction="/registerpage" type="submit">register</button>
            </div>
        </div>
    </div>

</form>


</body>

</html>